body {
  background: var(--purple);
  color: var(--white);
}
.main {
  margin-top: 120px;
}
nav {
  position: fixed;
  background-color: var(--black);
  top: 0;
  left: 0;
  width: 100%;
}
nav ul li a {
  text-decoration: none;
  color: var(--white);
  display: block;
  padding: 1em;
}

nav ul li a:hover {
  background-color: var(--gray1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

@media (min-width: 415px) and (max-width: 1023px) {
  body {
    background: var(--orange);
    color: var(--black);
  }
}

@media (min-width: 1025px) {
  body {
    background: var(--green);
    color: var(--white);
  }
}

@media (max-width: 414px) {
  nav ul li {
    width: 100%;
  }

  .main {
    margin-top: 220px;
  }
}
